/* You can add global styles to this file, and also import other style files */
.table td,
.table th {
  padding: 4px 10px;
  vertical-align: middle;
}

.input-group-border-radius {
  border-radius: 10px;
}
.website-list {
  display: block;
  position: relative;
}
.website-list .badge {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2px;
}
.website-list .btn {
  position: relative;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  min-width: 200px;
  margin: 6px 3px;
  /* padding: 16px; */

  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.website-list .btn:hover {
  color: #212121;
  border-color: #212121;
  transform: translateY(-3px);
  /* box-shadow: 0 45px 110px -35px rgb(0 0 0 / 50%); */
}
