/* You can add global styles to this file, and also import other style files */
.table td,
.table th {
  padding: 4px 10px;
  vertical-align: middle;
}

.input-group-border-radius {
  border-radius: 10px;
}

.website-list .btn {
  /* min-width: 100px;
  margin: 4px 2px;
  background: #f1f1f1;
  transition: .3s; */
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  min-width: 200px;
  margin: 6px 3px;
  /* padding: 16px; */

  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.website-list .btn:hover {
  color: #212121;
  border-color: #212121;
  transform: translateY(-3px);
  /* box-shadow: 0 45px 110px -35px rgb(0 0 0 / 50%); */
}
